header{
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

header a{
    text-decoration: none;
    color: black;
}

h1{
    background: salmon;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 50px;
    margin-left: 40px;
}

.nav-link{
    margin-top: 30px;
    margin-left: 40px;
}

input[type="text"],input[type="number"]{
	outline: none;
	padding: 20px;
	display: block;
	width: 300px;
	border-radius: 8px;
	border: 3px solid #eee;
	margin: 15px auto; 
}

/*Establecemos el estilo del boton submit*/
input[type="submit"]{
	padding: 10px;
	color: #fff;
	width: 320px;
	margin: 20px auto; /*auto es para que este centrado*/
    margin-top: 0;
	border: 0;
    border-radius: 30px;
	cursor: pointer; /* sirve para poner una manito cuando el cursor esta encima del boton*/
}

/*Con este estilo le decimos al boton que cambie de color al pasar por encima*/
input[type="submit"]:hover{
	background-color: #00b8eb;
}

.container{
    text-align: center;
}